body
{
	margin: 0;
	padding: 0;
	font: inherit;
	background: white;
}

.js-hovered-field-container
{
	min-width: 25%;
	margin: 0.3em;
	position: relative;
}

.js-hovered-field
{
	border: 0.1em solid #909090;
	position: absolute;
	padding: 0.3em;
}

.js-hovered-field + .js-hovering-label
{
	font: italic bold 1em Arial;
	color: #bbb;
	transform-origin: center left;
	transition: all 0.4s;
	position: relative;
	display: inline-block;
}


.js-pristine:focus + .js-hovering-label,
.js-pristine:hover + .js-hovering-label,
.js-hovering-label.js-frozen
{
	transform: scale(0.8) translateY(1.8em);
	color: #888;
	margin-bottom: 1.8em;
}
