body {
	margin: 0;
	padding: 0;
	font: sans-serif;
	border: 0;
	color: #000000;
	background: #ffffff;
}

.list {
	font: "Consolas";
	margin: 0.5em 0;
	list-style-image: none;
}

.list li {
	background: #e0e0e0;
	border-radius: 0.3em;
	margin: 0.3em 0;
	width: 12em;
	min-width: 10%;
}