.removable {
	background: #5c5c8a;
	border: 2px solid black;
	color: black;
	margin: 0 0.3em;
	font-style: italic;
}

.enabled {
	color: white;
	font-weight: bold;
} 

.removable+.add {
	background: #0039e6;
}

.removable+.remove {
	background: #990000;
}
