.editable-field-placeholder
{
	display: inline-flex;
	position: relative;
}

.editable-field-placeholder.field-presents
{
	width: auto;
}

.editable-field
{
	height: 1.1em;
	border: 1px solid #a0a0a0;
	padding: 0.3em;
	position: absolute;
	width: auto;
	top: 0;
	left: 0;
	z-index: 100;
	margin: 0.3em;
}

.in-edit
{
	animation: glow ease-in-out 1s infinite alternate;
}

.unfold
{

}

@keyframes glow
{
	0, 20% {background: #ffffff;}
	20%, 40% {background: #ffe6e6;}
	40%, 60% {background: #ffcccc;}
	60%, 80% {background: #ffb3b3;}
	80%, 100% {background: #ff9999;}
}