body
{
	margin: 0;
	padding: 0;
	font: inherit;
	background: white;
}

.placeholder
{
	width: 12em;
	min-width: 10%;
	background: #e0e0e0;
	transition: background-color 0.5s, color 0.5s;
	padding: 0.3em;
	margin: 0.3em;
}

.placeholder:hover
{
	background: #909090;
	color: white;
}

